<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-12 text-center">
        <h1>Añadir cupón</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="addCoupon()">

          <div class="row form-group">

            <div class="col-md-4 col-12">
              <label for="precio">Precio</label>
              <input type="number" required class="form-control" name="precio" id="precio" [(ngModel)]="coupon.price" />
            </div>

            <div class="col-md-4 col-12">
              <label for="start">Inicio fecha cupón</label>
              <p-calendar name="start" id="start" inputStyleClass="form-control" [(ngModel)]="coupon.dateStart"
                showTime="true" [minDate]="today" [locale]="localeES">
              </p-calendar>

            </div>


            <div class="col-md-4 col-12">
              <label for="end">Fin fecha cupón</label>
              <p-calendar name="end" id="end" inputStyleClass="form-control" [(ngModel)]="coupon.dateEnd" showTime="true"
                [minDate]="coupon.dateStart" [locale]="localeES">
              </p-calendar>
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-8 ol-12">
              <label for="url">URL *</label>
              <input required name="url" class="form-control" id="url"
                [(ngModel)]="coupon.url"/>
            </div>

            <div class="col-md-4 col-12">
              <label for="code">Código *</label>
              <input required name="code" class="form-control" id="code"
                [(ngModel)]="coupon.code"/>
            </div>

          </div>


          <div class="row form-group">
            <div class="col-12">

              <button type="button" type="submit" class="btn btn-primary btn-block">Añadir cupón</button>

            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>